<!doctype html>
<html>
  <head>
    {% block head %}

      <!-- BootstrapCDN/Styesheet -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

      <!-- Dynamic Title -->
    <title>
        {% block title %}<!-- Dynamic Title Portion Goes Here -->{% endblock %} - All Things STS9
    </title>

    {% endblock %}<!-- End Head Block -->
  </head>

  <!-- BODY -->
  <body>

  <!-- Static NavBar -->

  <div class="navbar" role="navigation">

  </div>
    <div id="container-fluid">
        {% block content %}

        <!-- MAIN BODY GOES HERE -->


        {% endblock %}
    </div>

    <!-- Copyright Footer w/ dynamic date -->
    <div id="footer">
        {% block footer %}
      &copy; Copyright <script type="text/javascript">document.write(new Date().getFullYear());</script> by <a href="http://127.0.0.1:5000/">Brent Vaalburg</a>.
        {% endblock %}
    </div><!-- End Footer -->

  </body>
</html>