{% extends "base.html" %}

<!-- Title -->

{% block title %}
STS9 Setlists - {{year}}
{% endblock %}

<!-- Content Block -->
{% block page_title %}Setlists{% endblock %}

<!-- Content -->
{% block content %}
    <div class="container">
        <div class="header">
            <h1>{{year + ' Setlists'}}</h1>
        </div>
        <hr />
        <!-- year buttons -->
        <div class="btn-group" role="group" aria-label="...">
            {% for yr in years %}
            <a href="/setlists/{{yr}}" class="btn btn-default" role="button">{{yr}}</a>
            {% endfor %}
        </div>
        <div>
            &nbsp;
        </div>
        <table class="table table-hover">
            <tr>
                <th>Year</th>
                <th>Month</th>
                <th>Day</th>
                <th>Venue</th>
                <th>City</th>
                <th>State</th>
                <th>Setlist</th>
            </tr>

            {% for year in setlists %}
            <tr>
                <td>{{ year['year'] }}</td>
                <td>{{ year['month'] }}</td>
                <td>{{ year['day'] }}</td>
                <td>{{ year['venue'] }}</td>
                <td>{{ year['city'] }}</td>
                <td>{{ year['state'] }}</td>
                <td>{{ year['setlist']|join(' || ') }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}