{% extends "base.html" %}

<!-- Title -->

{% block title %}
All Things STS9 - Songs
{% endblock %}

{% block page_title %}Songs{% endblock %}

<!-- Content -->
{% block content %}
    <div class="container">
        <div class="header">
            <h1>Songs</h1>
        </div>
        <hr />

        <table class="table table-hover">
            <tr>
                <th>Song</th>
                <th>Times Played</th>
            </tr>

            {% for s, c in songs %}
            <tr>
                <td>{{s}}</td>
                <td>{{c}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}